<div class="box-top clearfix">
    <h2 class="bread"><a ui-sref="user.list">用户管理</a>>用户列表</h2>
</div>
<div class="form-filter">
    <form ng-submit="" class="form-inline">
        <div class="form-group">
            <p class="form-control-static">筛选：</p>
        </div>
        <div class="form-group">
            <select name="diet_type" class="form-control" ng-model="diet_type" ng-change="filterData('diet_type',diet_type)">
                <option value="">全部类型</option>
                <option value="1">儿童</option>
                <option value="2">孕妇</option>
                <option value="3">老年</option>
            </select>
            <label>手机号：<input type="text" class="form-control" name="mobile" value="" ng-model="mobile" ng-blur="filterData('mobile',mobile)"/></label>
            <label>昵称：<input type="text" class="form-control" name="nickname" value="" ng-model="nickname" ng-blur="filterData('nickname',nickname)"/></label>
            <label>备注：<input type="text" class="form-control" name="remark" value="" ng-model="remark" ng-blur="filterData('remark',remark)"/></label>
        </div>
    </form>
</div>
<div class="box-content">
    <table class="table table-bordered">
        <tr>
        	<th width="100">营养师ID</th>
        	<th width="16%">手机号</th>
        	<th>昵称</th>
        	<th>账号状态</th>
        	<th>注册时间</th>
        	<th>备注</th>
        	<th width="240px">操作</th>
        </tr>
        <tr ng-if='data.codes[0]!=0'>
        	<td colspan="7" class="table-empty">{{data.messages[0]}}</td>
        </tr>
        <tr ng-if='data.data.data.length==0'>
        	<td colspan="7" class="table-empty">暂无数据</td>
        </tr>
        <tr ng-repeat="item in data.data.data">
            <td>{{item.id}}</td>
            <td>{{item.mobile}}</td>
            <td>{{item.nickname}}</td>
            <td>{{item.status}}</td>
            <td>{{item.reg_time}}</td>
            <td>{{item.remark}}</td>
            <td class="control">
            	<!--<a ui-sref="user.detail({'id':item.id,'type':1})">编辑</a>-->
            </td>
        </tr>
    </table>
</div>
<!--<div id="page1" class="m-pagination"></div>-->
<pagination></pagination>