<div class="header clearfix">
	<div class="userInfor">
	    <div userinfor></div>
	</div>
    <div class="mainNav">
        <ul class="list-unstyled clearfix">
			<li class="active"><a ui-sref="index">首页</a></li>
			<li><a ui-sref="system.list">权限管理</a></li>
			<li><a ui-sref="dietitian.list">营养师</a></li>
			<li><a ui-sref="user.list">用户管理</a></li>
			<!--<li><a ui-sref="dietitian">营养师</a></li>
			<li><a ui-sref="recommendList">饮食报告</a></li>
			<li><a ui-sref="foodsList">食物管理</a></li>-->
		</ul>
	</div>
</div>